body {
    background: cornflowerblue;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.calculator {
    background: chocolate;
    width: 300px;
    height: 500px;
    border-radius: 15px;
}

.displayscreen {
    background: #f8f7cf;
    width: 280px;
    height: 120px;
    border-radius: 10px;
    margin: 8px;
    padding: 2px;
    align-items: baseline;
    align-content: baseline;
}

.result {
    font-size: 24px;
    font-weight: 700;
    margin: 24px;
}

.input {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 5px;
}

.inputbox {
    width: 96px;
    height: 32px;
    border-radius: 8px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 20vh;
    padding: 8px;
}

button {
    border-radius: 10px;
    margin: 4px;
    padding: 4px;
    font-size: 24px;
    font-weight: 700;
    background: rgb(231, 189, 189);
}

button:hover {
    cursor: pointer;
    border: solid rgb(34, 88, 188);
}